# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/
.venv/

# VS Code
.vscode/
*.swp
*.swo
*~

# MikeTex related
*.log
*.out
*.toc
*.pdf
